.genre {
    font-size: 10px;
    margin-top: -8px;
    float: left;
    padding: 4.9px;
    color: rgba(194, 191, 193, 1);
    margin-left: -2px;
}

li:nth-child(1) {
    list-style-type: none !important;
}